<div class="container-fluid mt-4">
  <h2 class="mb-4">Manage Machines</h2>

  <div class="card">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <div><i class="fas fa-tools"></i> Machine Information</div>
      <button
        type="button"
        class="btn btn-light"
        (click)="openAddModal()"
        aria-label="Add Machine"
        data-toggle="modal"
        data-target="#addMachineModal"
      >
        <i class="fas fa-plus fa-sm"></i> Add
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="machinesTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Model</th>
              <th>Brand</th>
              <th class="col-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let MachineItem of MachineArray; trackBy: trackById">
              <td>{{ MachineItem.id }}</td>
              <td>{{ MachineItem.Name }}</td>
              <td>{{ MachineItem.Model }}</td>
              <td>{{ MachineItem.Brand }}</td>
              <td class="col-action">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="openEditModal(MachineItem)"
                  aria-label="Edit Machine"
                  data-toggle="modal"
                  data-target="#editMachineModal"
                >
                  <i class="fas fa-edit fa-sm text-white"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="setDelete(MachineItem)"
                  aria-label="Delete Machine"
                >
                  <i class="fas fa-trash fa-sm text-white"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Add Machine -->
<div
  class="modal fade"
  id="addMachineModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addMachineModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMachineModalLabel">Add Machine</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="machineName">Name</label>
          <input
            type="text"
            class="form-control"
            id="machineName"
            placeholder="Enter Machine Name"
            [(ngModel)]="currentMachine.Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="machineModel">Model</label>
          <input
            type="text"
            class="form-control"
            id="machineModel"
            placeholder="Enter Machine Model"
            [(ngModel)]="currentMachine.Model"
          />
        </div>
        <div class="form-group">
          <label for="machineBrand">Brand</label>
          <input
            type="text"
            class="form-control"
            id="machineBrand"
            placeholder="Enter Machine Brand"
            [(ngModel)]="currentMachine.Brand"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Machine Modal -->
<div
  class="modal fade"
  id="editMachineModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editMachineModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMachineModalLabel">Edit Machine</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="machineName">Name</label>
          <input
            type="text"
            class="form-control"
            id="machineName"
            placeholder="Enter Machine Name"
            [(ngModel)]="currentMachine.Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="machineModel">Model</label>
          <input
            type="text"
            class="form-control"
            id="machineModel"
            placeholder="Enter Machine Model"
            [(ngModel)]="currentMachine.Model"
          />
        </div>
        <div class="form-group">
          <label for="machineBrand">Brand</label>
          <input
            type="text"
            class="form-control"
            id="machineBrand"
            placeholder="Enter Machine Brand"
            [(ngModel)]="currentMachine.Brand"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
