.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;

  .form-group {
    flex: 1;
    min-width: 200px;
    margin-right: 15px;

    &:last-child {
      margin-right: 0; // Remove margin for the last item in the row
    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-control {
      border-radius: 5px;
    }
  }
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f8f9fa;

  .badge {
    font-size: 0.9em;
    color: #fff;
    background-color: #007bff; // Custom color for badge
  }

  .button-group {
    display: flex;
    align-items: center;

    .btn {
      margin-left: 5px;
      padding: 5px 10px;
    }
  }
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}
