<div class="calendar-container">
  <!-- Header with Navigation Button -->
  <div class="d-flex justify-content-start align-items-center mb-3">
    <button type="button" class="btn btn-custom" (click)="navigateToHoliday()">
      Check Holiday
    </button>
  </div>

  <full-calendar [options]="calendarOptions" class="calendar"></full-calendar>
</div>

<!-- Modal for Adding Event -->
<div
  *ngIf="showModal"
  class="modal fade show"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add Event</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          aria-label="Close"
        ></button>
      </div>
      <form (submit)="addEvent($event)">
        <div class="modal-body">
          <div class="mb-3">
            <label for="eventTitle" class="form-label">Title:</label>
            <input
              id="eventTitle"
              [(ngModel)]="newEvent.title"
              name="title"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="eventDate" class="form-label">Date:</label>
            <input
              id="eventDate"
              [(ngModel)]="newEvent.date"
              name="date"
              type="date"
              [value]="newEvent.date"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add Event</button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
