<div class="container-fluid mt-4">
  <h2 class="mb-4">Manage Employee Leaves</h2>

  <div class="card">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <div><i class="fas fa-calendar-alt"></i> Leave Information</div>
      <button
        type="button"
        class="btn btn-light"
        (click)="openAddModal()"
        aria-label="Add Leave"
        data-toggle="modal"
        data-target="#addLeaveModal"
      >
        <i class="fas fa-plus fa-sm"></i> Add Leave
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="leavesTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="col-id">ID</th>
              <th>Employee</th>
              <th>Leave Type</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th class="col-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of leaveArray; trackBy: trackById">
              <td>{{ leave.id }}</td>
              <td>{{ leave.employeeName }}</td>
              <!-- Display Employee Name -->
              <td>{{ leave.leaveType }}</td>
              <!-- Display Leave Type -->
              <td>{{ leave.startDate | date : "yyyy-MM-dd" }}</td>
              <!-- Format Start Date -->
              <td>{{ leave.endDate | date : "yyyy-MM-dd" }}</td>
              <!-- Format End Date -->
              <td class="col-action">
                <!-- Edit Button -->
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="openEditModal(leave)"
                  aria-label="Edit Leave"
                  data-toggle="modal"
                  data-target="#editLeaveModal"
                >
                  <i class="fas fa-edit fa-sm text-white"></i>
                </button>
                <!-- Delete Button -->
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="setDelete(leave)"
                  aria-label="Delete Leave"
                >
                  <i class="fas fa-trash fa-sm text-white"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Add Leave -->
<div
  class="modal fade"
  id="addLeaveModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addLeaveModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLeaveModalLabel">Add Leave</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="employeeSelect">Employee</label>
          <select
            id="employeeSelect"
            class="form-select"
            [(ngModel)]="currentLeave.employeeId"
            required
          >
            <option
              *ngFor="let employee of employeesArray"
              [value]="employee.id"
            >
              {{ employee.NameWithInitials }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="leaveTypeSelect">Leave Type</label>
          <select
            id="leaveTypeSelect"
            class="form-select"
            [(ngModel)]="currentLeave.leaveTypeId"
            required
          >
            <option *ngFor="let type of leaveTypesArray" [value]="type.id">
              {{ type.typeName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="startDate"
            [(ngModel)]="currentLeave.startDate"
            required
          />
        </div>
        <div class="form-group">
          <label for="endDate">End Date</label>
          <input
            type="date"
            class="form-control"
            id="endDate"
            [(ngModel)]="currentLeave.endDate"
            required
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Leave Modal -->
<div
  class="modal fade"
  id="editLeaveModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editLeaveModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLeaveModalLabel">Edit Leave</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="employeeSelectEdit">Employee</label>
          <select
            id="employeeSelectEdit"
            class="form-control"
            [(ngModel)]="currentLeave.employeeId"
            required
          >
            <option
              *ngFor="let employee of employeesArray"
              [value]="employee.id"
            >
              {{ employee.NameWithInitials }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="leaveTypeSelectEdit">Leave Type</label>
          <select
            id="leaveTypeSelectEdit"
            class="form-control"
            [(ngModel)]="currentLeave.leaveTypeId"
            required
          >
            <option *ngFor="let type of leaveTypesArray" [value]="type.id">
              {{ type.typeName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="startDateEdit">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="startDateEdit"
            [(ngModel)]="currentLeave.startDate"
            required
          />
        </div>
        <div class="form-group">
          <label for="endDateEdit">End Date</label>
          <input
            type="date"
            class="form-control"
            id="endDateEdit"
            [(ngModel)]="currentLeave.endDate"
            required
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
