.container-fluid {
  margin-top: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #333;
    font-weight: 400;
  }

  .card {
    border: none;

    .card-header {
      font-size: 1.3rem;
      background-color: #007bff;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        margin-right: 0.5rem;
      }

      .btn {
        background-color: #f8f9fa;
        color: #007bff;
        border: none;
        font-size: 1rem;
        transition: background-color 0.3s;

        &:hover {
          background-color: #e2e6ea;
        }

        i {
          margin-right: 0.25rem;
        }
      }
    }

    .card-body {
      .table {
        width: 100%;
        border-collapse: collapse;

        thead {
          background-color: #6c757d;

          th {
            font-weight: 500;
            padding: 0.5rem;
            font-size: 1rem;
            white-space: nowrap;
            border: 1px solid #dee2e6;
          }

          // Center align the Action header
          th.col-action {
            text-align: center;
          }
        }

        tbody {
          tr {
            &:hover {
              background-color: #f2f2f2;
            }
          }

          td {
            padding: 0.4rem;
            font-size: 0.9rem;
            border: 1px solid #dee2e6;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.col-action {
              max-width: 50px;
              text-align: center;

              button {
                padding: 0.1rem 0.25rem;
                font-size: 0.9rem;
                margin: 0 0.1rem;

                i {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
