<div class="container-fluid">
  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link" (click)="setTab('allowances')" [class.active]="activeTab === 'allowances'">
        Additional Allowances
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="setTab('deductions')" [class.active]="activeTab === 'deductions'">
        Additional Deductions
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="setTab('special')" [class.active]="activeTab === 'special'">
        Special Instruction
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" (click)="setTab('adddeductions')" [class.active]="activeTab === 'adddeductions'">
        Add Deduction Type
      </a>
    </li> -->

  </ul>

  <div class="tab-content mt-3">
    <!-- <ng-container *ngIf="activeTab === 'addallowances'">
      <app-addallowances></app-addallowances>
    </ng-container> -->
    <ng-container *ngIf="activeTab === 'allowances'">
      <app-allowances></app-allowances>
    </ng-container>
    <ng-container *ngIf="activeTab === 'deductions'">
      <app-deductions></app-deductions>
    </ng-container>
    <ng-container *ngIf="activeTab === 'special'">
      <app-special></app-special>
    </ng-container>
  </div>
</div>
