.table {
  font-size: 14px;
  word-wrap: break-word;
  text-align: center;
}

.table thead th {
  background-color: #343a40;
  color: #fff;
  text-transform: capitalize;
}

.table tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-responsive {
  max-height: 70vh;
  overflow-y: auto; /* For vertical scrolling */
  overflow-x: auto; /* For horizontal scrolling */
}

.table th,
.table td {
  min-width: 120px; /* Minimum width to ensure columns are aligned */
}

.table th {
  font-size: 16px; /* Larger text for headers */
  padding: 12px;
}

.table td {
  padding: 8px;
}

.pagination .page-link {
  cursor: pointer;
}

.container {
  max-width: 95%;
  margin: auto;
}

/* Optional: Add styles for the table header to make it fixed at the top when scrolling */
.table-wrapper {
  position: relative;
  overflow-x: auto;
  width: 100%;
}

.table-wrapper thead {
  position: sticky;
  top: 0;
  background-color: #343a40;
  z-index: 10; /* Keep the header on top of the table body */
}
