<div class="container mt-4">
  <div class="payslip-container">
    <!-- Company Header -->
    <div class="header" *ngIf="company">
      <div class="company-logo">
        <img *ngIf="company.Logo; else noLogo" [src]="company.Logo" alt="Company Logo" style="width: 80px; height: auto;">
        <ng-template #noLogo>
          <span>No Logo</span>
        </ng-template>
      </div>
      <div class="company-info">
        <h1 class="company-name">{{ company.Name }}</h1>
        <p class="company-address">{{ company.Address }}</p>
        <p class="company-contact">
          Tel: {{ company.Telephone }}
          <span *ngIf="company.Fax"> | Fax: {{ company.Fax }}</span>
          <br>
          Email: {{ company.Email }}
        </p>
      </div>
    </div>

    <!-- Employee Information -->
    <div class="employee-info">
      <h3 class="section-title"></h3>
      <div class="employee-details">
        <p><strong>Name:</strong> {{ slipData.name }}</p>
        <p><strong>Employee No:</strong> {{ slipData.empId }}</p>
        <p><strong>Month:</strong> {{ slipData.month }} - {{ slipData.year }} </p>
      </div>
    </div>

    <!-- Salary Details Table -->
    <div class="section">
      <h5 class="section-title">Salary Details</h5>
      <table class="table">
        <tr>
          <th>Description</th>
          <th>Amount (LKR)</th>
          <th>Total Amount (LKR)</th>
        </tr>
        <tr>
          <td>Basic Salary</td>
          <td>{{ slipData.basicSalary }}</td>
          <td class="text-end" ></td>
        </tr>
        <tr>
          <td>B.R.A. 1</td>
          <td>{{ slipData.bra1 }}</td>
          <td class="text-end"></td>
        </tr>
        <tr>
          <td>B.R.A. 2</td>
          <td>{{ slipData.bra2 }}</td>
          <td class="text-end" ></td>
        </tr>
        <tr>
          <th>Gross Salary</th>
          <td></td>
          <td class="text-end">{{ slipData.grossSalary }}</td>
        </tr>
        <tr>
          <td>No Pay - {{ slipData.no_pay_count }} Days</td>
          <td>{{ slipData.noPayAmount }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Late - {{ slipData.late_hours }} Hours</td>
          <td>{{ slipData.lateDeduction }}</td>
          <td class="text-end"></td>
        </tr>
        <tr>
          <th>Salary for EPF</th>
          <td></td>
          <td class="text-end">{{ slipData.salaryForEPF }}</td>
        </tr>
        <div> <br></div>

        <!-- Additions Section -->
        <h5 class="section-title">Additions</h5>
        <tr (mouseleave)="hoveringAttendanceIncentive = false">
          <td
            (mouseenter)="hoveringAttendanceIncentive = true"
            style="position: relative;"
          >
            Attendance Incentive

            <button
              *ngIf="hoveringAttendanceIncentive"
              class="btn btn-sm btn-outline-primary"
              (click)="toggleEditAttendanceIncentive()"
              style="position: absolute; right: 5px; top: 5px;"
            >
              <i class="fas" [ngClass]="editAttendanceIncentiveMode ? 'fa-save' : 'fa-edit'"></i>
            </button>
          </td>
          <td>
            <ng-container *ngIf="editAttendanceIncentiveMode; else viewAttendanceIncentiveMode">
              <input
                type="number"
                [(ngModel)]="slipData.attendanceIncentive"
                class="form-control form-control-sm"
                step="0.01"
              />
            </ng-container>
            <ng-template #viewAttendanceIncentiveMode>
              {{ slipData.attendanceIncentive || '0.00' }}
            </ng-template>
          </td>
          <td class="text-end"></td>
        </tr>
        <tr>
          <td>Performance Incentive</td>
          <td>{{ slipData.performanceIncentive }}</td>
          <td class="text-end" ></td>
        </tr>

       <!-- Dynamic Allowances -->
        <tr *ngIf="allowancesArray.length > 0; else noAllowances">
        </tr>
        <tr *ngFor="let allowance of allowancesArray">
          <td>{{ allowance.Name }}</td>
          <td>{{ (slipData.dynamicAllowances?.[allowance.id] ?? 0) | number:'1.2-2' }}</td>
          <td class="text-end"></td>
        </tr>
        <ng-template #noAllowances>
          <tr>
            <td colspan="3">No allowances found.</td>
          </tr>
        </ng-template>

        <tr (mouseleave)="hovering = false">
          <td
            (mouseenter)="hovering = true"
            style="position: relative;"
          >
            OT - {{ slipData.otHours }} Hrs

            <button
              *ngIf="hovering"
              class="btn btn-sm btn-outline-primary"
              (click)="toggleEditOt()"
              style="position: absolute; right: 5px; top: 5px;"
            >
              <i class="fas" [ngClass]="editOtMode ? 'fa-save' : 'fa-edit'"></i>
            </button>
          </td>
         <td>
            <ng-container *ngIf="editOtMode; else viewMode">
              <input
                type="number"
                [(ngModel)]="slipData.otAmount"
                class="form-control form-control-sm"
              />
            </ng-container>
            <ng-template #viewMode>
              {{ slipData.otAmount || '0' }}
            </ng-template>
          </td>
     <td class="text-end"></td>
     </tr>

        <tr>
          <td>Total Allowances</td>
          <td></td>
          <td class="text-end">{{ slipData.total_allowances }}</td>
        </tr>
        <div> <br></div>

        <!-- Deductions Section -->
        <h5 class="section-title">Deductions</h5>
        <tr>
          <td>EPF {{ slipData.epfEmp || "0" }} %</td>
          <!-- <td>{{ slipData.epf || "0" }}</td> -->
          <td>{{ slipData.epfEmpAmount || "0" }}</td>
          <td class="text-end"></td>
        </tr>

        <tr>
          <td>API Tax </td>
          <!-- <td>{{ slipData.tax || "0" }}</td> -->
          <td>{{ slipData.tax || "0" }}</td>
          <td class="text-end"></td>
        </tr>

       <!-- Dynamic Deductions -->
        <tr *ngIf="deductionsArray.length > 0; else noDeductions">
        </tr>
        <tr *ngFor="let deduction of deductionsArray">
          <td>{{ deduction.Name }}</td>
          <td>{{ (slipData.dynamicDeductions?.[deduction.id] ?? 0) | number:'1.2-2' }}</td>
          <td class="text-end"></td>
        </tr>
        <ng-template #noDeductions>
          <tr>
            <td colspan="3">No deductions found.</td>
          </tr>
        </ng-template>
        <tr>
          <td>Total Deductions</td>
          <td></td>
          <td class="text-end">{{ slipData.total_deductions || "0.00" }}</td>
        </tr>
        <div> <br></div>

        <!-- Leave Balance Section -->
        <h5 class="section-title">Leave Balance</h5>
        <tr>
          <td>Approved Leaves - {{ slipData.leaveDays }} Days</td>
          <td>EPF {{ slipData.epfCom || "0" }} %</td>
          <td class="text-end">{{ slipData.epfComAmount || "0.00" }}</td>
          <!-- <td class="text-end">{{ 0.00 }}</td> -->
        </tr>
        <tr>
          <td>Unapproved Leaves - {{ slipData.unApproveLeave }} Days</td>
          <td>ETF {{ slipData.etfCom || "0" }} %</td>
          <td class="text-end">{{ slipData.etfComAmount || "0.00" }}</td>
          <!-- <td class="text-end">{{ 0.00 }}</td> -->
        </tr>
        <!-- <tr>
          <td>Holidays - {{ slipData.holidays }} Days</td>
          <td>{{ slipData.holidays }}</td>
          <td class="text-end"></td>
        </tr> -->
        <tr>
          <td>Post Approve Leaves - {{ slipData.postApproveLeave }}</td>
          <td></td>
          <td class="text-end">{{ 0.00 }}</td>
        </tr>
        <tr>
          <td>Pre Approve Leaves - {{ slipData.preApproveLeave }}</td>
          <td></td>
          <td class="text-end">{{ 0.00 }}</td>
        </tr>
        <div> <br></div>

        <!-- Summary Section -->
        <h5 class="section-title">Summary</h5>
        <tr>
          <td><strong>Net Salary</strong></td>
          <td></td>
          <td class="text-end"><strong>{{ slipData.netSalary }}</strong></td>
        </tr>
      </table>

      <!-- Footer -->
      <div class="footer">
        <p>This is a system-generated payslip. No signature is required.</p>
        <p>Thank you for being a valued employee!</p>
      </div>
    </div>
  </div>
</div>

<!-- Button Section -->
<div class="text-center mt-4">
  <button class="btn btn-secondary me-2" (click)="goBack()">Back</button>
  <button class="btn btn-primary me-2" (click)="generatePdf()">
    Generate Payslip PDF
  </button>
    <button class="btn btn-success me-2" (click)="openEmailModal()">
    Send Payslip
  </button>

  <!-- Add template reference variable #slipMailComponent -->
  <app-slipmail #slipMailComponent
    [slipData]="slipData"
    [company]="company"
    (emailSent)="onEmailSent($event)">
  </app-slipmail>

</div>
