<div class="container-fluid">
  <h2 class="mb-4">Manage Payroll</h2>

  <!-- Custom Alert Box -->
  <div id="custom-alert" class="alert-box"></div>

  <!-- Custom Confirmation Modal -->
  <div id="confirmationModal" class="modal">
    <div class="modal-contentt">
      <div class="modal-header">
        <h5 class="modal-title">Delete Payroll</h5>
        <button type="button" class="close" (click)="closeConfirmationModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete payroll for
          {{ currentPayroll.employee_name }}?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeConfirmationModal()"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="deletePayroll()">
          OK
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <button
        type="button"
        class="btn btn-light"
        (click)="openAddModal()"
        aria-label="Add Payroll"
      >
        <i class="fas fa-plus fa-sm"></i> Add
      </button>
    </div>
    <div class="card-body">
      <!-- Loading Spinner -->
      <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="table-responsive" *ngIf="!isLoading">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="col-action">Actions</th>
              <th>Employee Id</th>
              <th>Employee Name</th>
              <th>Basic Salary</th>
              <th *ngFor="let field of incentiveFields">{{ field }}</th>
              <th>Tax Amount</th>
              <!-- <th>Telephone Expenses</th> -->
              <!-- <th>Deductions</th> -->
              <th>Net Salary</th>
              <th>Month</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payroll of payrolls; trackBy: trackById">
              <td class="col-action">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="openEditModal(payroll)"
                  aria-label="Edit Payroll"
                  data-toggle="modal"
                  data-target="#editPayrollModal"
                >
                  <i class="fas fa-edit fa-sm text-white"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="confirmDelete(payroll)"
                  aria-label="Delete Payroll"
                >
                  <i class="fas fa-trash fa-sm text-white"></i>
                </button>
              </td>
              <td>{{ payroll.EmpId }}</td>
              <td>{{ payroll.employee_name || "Unknown" }}</td>
              <td>{{ payroll.basic_salary }}</td>
              <td *ngFor="let field of incentiveFields">
                {{ payroll[field] || 0 }}
              </td>
              <td>{{ payroll.tax || 0 }}</td>
              <!-- <td>{{ payroll.t_expenses || 0 }}</td> -->
              <!-- <td>{{ payroll.deductions || 0 }}</td> -->
              <td>{{ payroll.net_salary }}</td>
              <td>{{ payroll.payment_date | date : "yyyy-MM" }}</td>
              <td>
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    [checked]="payroll.is_active"
                    (change)="toggleStatus(payroll)"
                  />
                  {{ payroll.is_active ? "Active" : "Inactive" }}
                </label>
              </td>
              <!-- <td>
                <span
                  [ngClass]="{
                    'badge badge-success': payroll.is_active,
                    'badge badge-danger': !payroll.is_active
                  }"
                >
                  {{ payroll.is_active ? "Active" : "Inactive" }}
                </span>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Add Payroll Modal -->
<div class="modal fade" id="addPayrollModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Payroll</h5>
        <button type="button" class="close" (click)="closeModal()" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form>
            <div class="row g-3">
              <!-- Column 1 -->
              <div class="col-md-6">
                <div class="form-group mt-3">
                  <label for="emp_id">Employee ID<span class="text-danger">*</span></label>
                  <select
                    id="emp_id"
                    class="form-control"
                    [(ngModel)]="currentPayroll.emp_id"
                    name="emp_id"
                    required
                  >
                    <option
                      *ngFor="let employee of employees"
                      [value]="employee.EmpId"
                    >
                      {{ employee.NameWithInitials }}
                    </option>
                  </select>
                  <small
                    *ngIf="showEmployeeError && !currentPayroll.emp_id"
                    class="text-danger"
                  >
                    Name is required
                  </small>
                </div>
                <div class="form-group mt-3">
                  <label for="basic_salary">Basic Salary<span class="text-danger">*</span></label>
                  <input
                    type="number"
                    id="basic_salary"
                    class="form-control"
                    placeholder="0.00"
                    [(ngModel)]="currentPayroll.basic_salary"
                    name="basic_salary"
                    required
                  />
                  <small
                    *ngIf="showBasicSalaryError && !currentPayroll.basic_salary"
                    class="text-danger"
                  >
                    Basic Salary is required
                  </small>
                </div>
                <div class="form-group mt-3">
                  <label for="tax">Tax Amount</label>
                  <input
                    type="number"
                    id="tax"
                    class="form-control"
                    placeholder="0.00"
                    [(ngModel)]="currentPayroll.tax"
                    name="tax"
                    required
                  />
                </div>
                <!-- <div class="form-group mt-3">
                  <label for="t_expenses">Telephone Expenses</label>
                  <input
                    type="number"
                    id="t_expenses"
                    class="form-control"
                    [(ngModel)]="currentPayroll.t_expenses"
                    name="t_expenses"
                    required
                  />
                </div> -->
                <!-- <div class="form-group mt-3">
                  <label for="deductions">Deductions</label>
                  <input
                    type="number"
                    id="deductions"
                    class="form-control"
                    [(ngModel)]="currentPayroll.deductions"
                    name="deductions"
                  />
                </div> -->

                <!-- Status Dropdown -->
                <div class="form-group mt-3">
                  <label for="status">Status</label>
                  <select
                    id="status"
                    class="form-control"
                    [(ngModel)]="currentPayroll.status"
                    name="status"
                  >
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                  </select>
                </div>

                <div class="form-group mt-3">
                  <label for="payment_date">Payment Date<span class="text-danger">*</span></label>
                  <input
                    type="date"
                    id="payment_date"
                    class="form-control"
                    [(ngModel)]="currentPayroll.payment_date"
                    name="payment_date"
                    required
                  />
                  <small *ngIf="showDateError" class="text-danger">
                    Date is required
                  </small>
                </div>
              </div>

              <!-- Column 2 -->
              <div class="col-md-6">
                <div class="form-group mt-3">
                  <label for="AttendanceIncentive">Attendance Incentive</label>
                  <input
                    type="number"
                    id="AttendanceIncentive"
                    class="form-control"
                    placeholder="0.00"
                    [(ngModel)]="currentPayroll.AttendanceIncentive"
                    name="AttendanceIncentive"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="SuperAttendance">Super Attendance</label>
                  <input
                    type="number"
                    id="SuperAttendance"
                    class="form-control"
                    placeholder="0.00"
                    [(ngModel)]="currentPayroll.SuperAttendance"
                    name="SuperAttendance"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="PerformanceIncentive">Performance Incentive</label>
                  <input
                    type="number"
                    id="PerformanceIncentive"
                    class="form-control"
                    placeholder="0.00"
                    [(ngModel)]="currentPayroll.PerformanceIncentive"
                    name="PerformanceIncentive"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="BRA1">BRA1</label>
                  <input
                    type="number"
                    id="BRA1"
                    class="form-control"
                    placeholder="0.00"
                    [(ngModel)]="currentPayroll.BRA1"
                    name="BRA1"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="BRA2">BRA2</label>
                  <input
                    type="number"
                    id="BRA2"
                    class="form-control"
                    placeholder="0.00"
                    [(ngModel)]="currentPayroll.BRA2"
                    name="BRA2"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="save()">
          {{ currentPayroll.id ? "Update" : "Add" }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Payroll Modal -->
<div class="modal fade" id="editPayrollModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Payroll</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form>
            <div class="row g-3">
              <!-- Column 1 -->
              <div class="col-md-6">
                <div class="form-group mt-3">
                  <label for="emp_id">Employee ID</label>
                  <select
                    id="emp_id"
                    class="form-control"
                    [(ngModel)]="currentPayroll.emp_id"
                    name="emp_id"
                    required
                  >
                    <option
                      *ngFor="let employee of employees"
                      [value]="employee.EmpId"
                    >
                      {{ employee.NameWithInitials }}
                    </option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <label for="basic_salary">Basic Salary</label>
                  <input
                    type="number"
                    id="basic_salary"
                    class="form-control"
                    [(ngModel)]="currentPayroll.basic_salary"
                    name="basic_salary"
                    required
                  />
                  <small *ngIf="showBasicSalaryError" class="text-danger">
                    Basic Salary is required
                  </small>
                </div>
                <div class="form-group mt-3">
                  <label for="tax">Tax Amount	</label>
                  <input
                    type="number"
                    id="tax"
                    class="form-control"
                    [(ngModel)]="currentPayroll.tax"
                    name="tax"
                    required
                  />
                </div>
                <!-- <div class="form-group mt-3">
                  <label for="t_expenses">Telephone Expenses</label>
                  <input
                    type="number"
                    id="t_expenses"
                    class="form-control"
                    [(ngModel)]="currentPayroll.t_expenses"
                    name="t_expenses"
                    required
                  />
                </div> -->
                <!-- <div class="form-group mt-3">
                  <label for="deductions">Deductions</label>
                  <input
                    type="number"
                    id="deductions"
                    class="form-control"
                    [(ngModel)]="currentPayroll.deductions"
                    name="deductions"
                  />
                </div> -->

                <div class="form-group mt-3">
                  <label for="status">Status</label>
                  <select
                    id="status"
                    class="form-control"
                    [(ngModel)]="currentPayroll.is_active"
                    name="status"
                  >
                    <option [value]="1">Active</option>
                    <option [value]="0">Inactive</option>
                  </select>
                </div>

                <div class="form-group mt-3">
                  <label for="payment_date">Payment Date</label>
                  <input
                    type="date"
                    id="payment_date"
                    class="form-control"
                    [(ngModel)]="currentPayroll.payment_date"
                    name="payment_date"
                    required
                  />
                </div>
              </div>

              <!-- Column 2 -->
              <div class="col-md-6">
                <div class="form-group mt-3">
                  <label for="AttendanceIncentive">Attendance Incentive</label>
                  <input
                    type="number"
                    id="AttendanceIncentive"
                    class="form-control"
                    [(ngModel)]="currentPayroll.AttendanceIncentive"
                    name="AttendanceIncentive"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="SuperAttendance">Super Attendance</label>
                  <input
                    type="number"
                    id="SuperAttendance"
                    class="form-control"
                    [(ngModel)]="currentPayroll.SuperAttendance"
                    name="SuperAttendance"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="PerformanceIncentive">Performance Incentive</label>
                  <input
                    type="number"
                    id="PerformanceIncentive"
                    class="form-control"
                    [(ngModel)]="currentPayroll.PerformanceIncentive"
                    name="PerformanceIncentive"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="BRA1">BRA1</label>
                  <input
                    type="number"
                    id="BRA1"
                    class="form-control"
                    [(ngModel)]="currentPayroll.BRA1"
                    name="BRA1"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="BRA2">BRA2</label>
                  <input
                    type="number"
                    id="BRA2"
                    class="form-control"
                    [(ngModel)]="currentPayroll.BRA2"
                    name="BRA2"
                  />
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
