<div class="container-fluid mt-4">
  <h2 class="mb-4">Manage Companies</h2>

  <div class="card">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <div><i class="fas fa-building"></i> Company Information</div>
      <button
        type="button"
        class="btn btn-light"
        (click)="openAddModal()"
        aria-label="Add Company"
        data-toggle="modal"
        data-target="#addCompanyModal"
      >
        <i class="fas fa-plus fa-sm"></i> Add
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="companiesTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="col-id">ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Fax</th>
              <th class="col-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let CompanyItem of CompanyArray; trackBy: trackById">
              <td>{{ CompanyItem.id }}</td>
              <td>{{ CompanyItem.Name }}</td>
              <td>{{ CompanyItem.Address }}</td>
              <td>{{ CompanyItem.Email }}</td>
              <td>{{ CompanyItem.Telephone }}</td>
              <td>{{ CompanyItem.Fax }}</td>
              <td class="col-action">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="openEditModal(CompanyItem)"
                  aria-label="Edit Company"
                  data-toggle="modal"
                  data-target="#editCompanyModal"
                >
                  <i class="fas fa-edit fa-sm text-white"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="setDelete(CompanyItem)"
                  aria-label="Delete Company"
                >
                  <i class="fas fa-trash fa-sm text-white"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Add Company -->
<div
  class="modal fade"
  id="addCompanyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addCompanyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCompanyModalLabel">Add Company</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form for Adding Company -->
        <div class="form-group">
          <label for="companyName">Name</label>
          <input
            type="text"
            class="form-control"
            id="companyName"
            placeholder="Enter Company Name"
            [(ngModel)]="currentCompany.Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="companyAddress">Address</label>
          <input
            type="text"
            class="form-control"
            id="companyAddress"
            placeholder="Enter Address"
            [(ngModel)]="currentCompany.Address"
          />
        </div>
        <div class="form-group">
          <label for="companyEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="companyEmail"
            placeholder="Enter Email"
            [(ngModel)]="currentCompany.Email"
          />
        </div>
        <div class="form-group">
          <label for="companyTelephone">Telephone</label>
          <input
            type="tel"
            class="form-control"
            id="companyTelephone"
            placeholder="Enter Telephone"
            [(ngModel)]="currentCompany.Telephone"
          />
        </div>
        <div class="form-group">
          <label for="companyFax">Fax</label>
          <input
            type="text"
            class="form-control"
            id="companyFax"
            placeholder="Enter Fax"
            [(ngModel)]="currentCompany.Fax"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Company Modal -->
<div
  class="modal fade"
  id="editCompanyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editCompanyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCompanyModalLabel">Edit Company</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Edit Company Form Fields -->
        <div class="form-group">
          <label for="companyName">Name</label>
          <input
            type="text"
            class="form-control"
            id="companyName"
            placeholder="Enter Company Name"
            [(ngModel)]="currentCompany.Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="companyAddress">Address</label>
          <input
            type="text"
            class="form-control"
            id="companyAddress"
            placeholder="Enter Address"
            [(ngModel)]="currentCompany.Address"
          />
        </div>
        <div class="form-group">
          <label for="companyEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="companyEmail"
            placeholder="Enter Email"
            [(ngModel)]="currentCompany.Email"
          />
        </div>
        <div class="form-group">
          <label for="companyTelephone">Telephone</label>
          <input
            type="tel"
            class="form-control"
            id="companyTelephone"
            placeholder="Enter Telephone"
            [(ngModel)]="currentCompany.Telephone"
          />
        </div>
        <div class="form-group">
          <label for="companyFax">Fax</label>
          <input
            type="text"
            class="form-control"
            id="companyFax"
            placeholder="Enter Fax"
            [(ngModel)]="currentCompany.Fax"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
