<div class="container-fluid mt-4">
  <h2 class="mb-4">Manage Positions</h2>

  <div class="card">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <div><i class="fas fa-briefcase"></i> Position Information</div>
      <button
        type="button"
        class="btn btn-light"
        (click)="openAddModal()"
        aria-label="Add Position"
        data-toggle="modal"
        data-target="#addPositionModal"
      >
        <i class="fas fa-plus fa-sm"></i> Add
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="positionsTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="col-id">ID</th>
              <th>Position Title</th>
              <th class="col-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let PositionItem of PositionArray; trackBy: trackById">
              <td>{{ PositionItem.id }}</td>
              <td>{{ PositionItem.Name }}</td>
              <td class="col-action">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="openEditModal(PositionItem)"
                  aria-label="Edit Position"
                  data-toggle="modal"
                  data-target="#editPositionModal"
                >
                  <i class="fas fa-edit fa-sm text-white"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="setDelete(PositionItem)"
                  aria-label="Delete Position"
                >
                  <i class="fas fa-trash fa-sm text-white"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Add Position -->
<div
  class="modal fade"
  id="addPositionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addPositionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPositionModalLabel">Add Position</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form for Adding Position -->
        <div class="form-group">
          <label for="positionName">Position Title</label>
          <input
            type="text"
            class="form-control"
            id="positionName"
            placeholder="Enter Position Title"
            [(ngModel)]="currentPosition.Name"
            required
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Position Modal -->
<div
  class="modal fade"
  id="editPositionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editPositionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPositionModalLabel">Edit Position</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Edit Position Form Fields -->
        <div class="form-group">
          <label for="positionName">Position Title</label>
          <input
            type="text"
            class="form-control"
            id="positionName"
            placeholder="Enter Position Title"
            [(ngModel)]="currentPosition.Name"
            required
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
          data-dismiss="modal"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
